.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.cerchioVerde {
  width: 10px;
  height: 10px;
  background-color: rgb(64, 193, 0);
}

.cerchioRosso {
  width: 10px;
  height: 10px;
  background-color: rgb(255, 0, 0);
}